html{
    background-color: #fff; 
    background-image: 
    linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
    linear-gradient(#eee .1em, transparent .1em);
    background-size: 100% 1.2em;
}

h1 {
    text-align: center;
    margin-left: 50px;
}

h2 {
    margin-left: 100px;
}

a {
    margin-left: 150px;
    font-size: 20px;
    line-height: 50px;
}

.homepage {
    margin-left: 0px;
}

/* unvisited link */
a:link {
    color: blue;
    text-decoration: none;
  }
  
  /* visited link */
  a:visited {
    color: darkblue;
    text-decoration: none;
  }
  
  /* mouse over link */
  a:hover {
    color: lime;
    text-decoration: none;
  }
  
  /* selected link */
  a:active {
    color: hotpink;
    text-decoration: none;
  }
