/* 493 Notes CSS page */
html {
    font-family: 'Times New Roman', Times, serif;
}

body {
    margin-left: 75px;
    margin-right: 75px;
}

h1 {
    margin-bottom: -15px;
    text-align: center;
}

h2 {
    text-align: center;
    font-size: xx-large;
}

.pageheader {
    text-align: center;
    text-decoration: none;
}

#Chapter1 h2{
    color:darkcyan;
}

#Chapter2 h2{
    color:deeppink;
}

#Chapter3 h2{
    color: mediumpurple;
}

#Chapter4 h2 {
    color: darkgoldenrod;
}

#Chapter5 h2 {
    color: #32E4AA;
}

#Chapter6 h2 {
    color: #E2724E;
}

#Chapter7 h2 {
    color: #9F1660;
}

#Chapter8 h2 {
    color: #c2c23a;
}

#Chapter9 h2{
    color:#8E44AD;
}

#Chapter10 h2 {
    color: #46B3F5;
}

#Chapter11 h2 {
    color: #7C6633;
}

#Chapter12 h2 {
    color: #c20753;
}

#Chapter13 h2 {
    color: #cf6aa8;
}

#Chapter14 h2 {
    color: #10AC5C;
}

#Chapter15 h2 {
    color: #da910b;
}

#Chapter16 h2 {
    color: #4273F2;
}

h3{
    text-decoration: underline overline;
    text-align: center;
}

dd {
    margin-bottom: 15px;
}

dt {
    font-style: italic;
    font-weight: 550;
    margin-bottom: 10px;
}

.NP {
    color: dodgerblue;
}

.be {
    color:  rgba(194, 174, 0, 0.753);
    font-style: italic;
}

.ADV {
    color: rgb(166, 97, 235);
}

.ADJ {
    color: rgb(248, 152, 62);
}

ul {
    list-style-type: none;
}

.obj {
    color: rgb(216, 10, 10);
}

.objio {
    color: rgb(226, 204, 4) ;
}

.prep {
    color: saddlebrown;
}

.verb {
    color:  rgb(11, 212, 11);
}

h4 {
    font-style: italic;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

footer {
    font-style: italic;
    margin-top: 100px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}

#empty {
    margin: 250px;
}


th, td {
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    border-bottom: 0.5px solid rgb(204, 204, 204);
}

tr:hover {
    background-color: rgba(245, 208, 115, 0.212);
}

.headrow:hover {
    background-color: #ffffff;
}

table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}