html {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

body {
    background-image: url(simple.png);
    background-size: cover;
}

h1 {
    text-align: center;
    font-size: 42px;
}

.portfolio {
    display: block;
    float: left;
    margin-top: -100px;
    margin-left: 100px;
    
}

#portfoliohome {
  font-size: 32px;
}

p {
    text-indent: 50px;
    margin-left: 50px;
    font-size: x-large;
    margin-right: 50px;
}

img {
    float: right;
    height: 300px;
    width: auto;
    margin-right: 275px;
    margin-top: -100px;
    border-radius: 50%;
}

#resume {
    text-indent: none;
    width: 50%;
    text-align: center;
}

/* unvisited link */
a:link {
  color: #3344dd;
  font-weight: bold;
  text-decoration: none;
  font-size: xx-large;
}

/* visited link */
a:visited {
  color: #884488;
}

/* mouse over link */
a:hover {
  color: #bb1122;
}

/* selected link */
a:active {
  color: #bb1122;
}

#socialmedia {
  position: absolute;
  bottom: 0;
  right: 340px;
  height: 150px;
  display: inline-block;
  align-items: left;
}

