html{
    font-family: 'Times New Roman', Times, serif;
    background-color: #fff; 
    background-image: 
    linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
    linear-gradient(#eee .1em, transparent .1em);
    background-size: 100% 1.2em;
}

h1 {
    text-align: center;
    margin-right: 0px;
}

h2{
    text-align: center;
    font-style: italic;
    margin-top: -30px;
    padding-top: 25px;
}

h3 {
    text-align: center;
    text-decoration: overline underline;
}

.blue {
    color: rgb(38, 93, 245);
}

.red {
    color: rgb(206, 7, 7);
}

h4 {
    text-decoration: underline;
}

h5 {
    text-align: center;
    margin-top: -30px;
    padding-top: 25px;
    font-weight: normal; 
}

body {
    margin-right: 30px;
    margin-left: 120px;
}

footer {
    text-align: center;
}

img {
    width: 40px;
    background-color: rgb(230, 44, 44);
    margin-left: 0px;
    padding-left: 0%;
}

.tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    top: 100%;
    left: 50%;
    margin-left: -60px;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }

  .tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    bottom: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

li.a {
    list-style: upper-roman;
}

li.b {
    list-style: none;
}

li.c {
    list-style: upper-alpha;
}


li.e {
    list-style: upper-alpha;
}

.transition {
    margin-left: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.References {
    margin-left: -25px;
}

p {
    text-indent: 50px;
}

/* unvisited link */
a:link {
    color: black;
}
  
  /* visited link */
a:visited {
    color: black;
}
  
  /* mouse over link */
a:hover {
    color: oldlace;
}
  
  /* selected link */
a:active {
    color: seashell;
}

.indent {
    padding-left: 50px;
}

.template :link {
    color: rgb(55, 123, 248)
}

.template :visited {
    color: rgb(55, 123, 248);
}

.template :hover {
    color: skyblue;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}