html{
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

h1 {
    text-align: center;
    color: black;
    font-size: 72px;
    font-family: "Century Gothic";
}

h2 {
    text-align: center;
    font-style: italic;
    margin-top: -60px;
    padding-top: 25px;
    color: black;
    font-family: "Century Gothic";
}


h4 {
    text-decoration: underline;
}

h5 {
    text-align: center;
    margin-top: -10px;
    padding-top: 25px;
    font-weight: normal; 
    margin-left: -75px;
}


.tooltip {
    display: inline-block;
}
  
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    top: 100%;
    left: 50%;
    margin-left: -60px;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    bottom: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}


/* unvisited link */
a:link {
    color: black;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: black;
}

/* mouse over link */
a.homepage:hover {
    color: black;
}

/* selected link */
a.homepage:active {
    color: seashell;
}

p {
    color: black;
    font-size: 32px;
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
}
body {
    background-image: radial-gradient(#ffc7c9 0%, #ffaaaf 33%, #ff8c96 66%, #ff4466 100%) 
}

p {
    color: black;
    font-size: 32px;
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
}