html {
    font-family: 'Times New Roman', Times, serif;
    background: 
  linear-gradient(135deg, #ECEDDC 25%, transparent 25%) -51px 0,
  linear-gradient(225deg, #ECEDDC 25%, transparent 25%) -50px 0,
  linear-gradient(315deg, #ECEDDC 25%, transparent 25%),
  linear-gradient(45deg, #ECEDDC 25%, transparent 25%);
  background-size: 100px 100px;
  background-color:#a000005d;
}

body {
    color: black;
    text-align: center;
}
  }
  

h1 {
    text-align: center;
    color: black;

}

.button-group {
    margin: auto;
  width: auto;
  padding: 10px;
  padding-top: 0px;
  margin-top: -5px;
  text-align: center;
}

button {
    border: black;
    border-style: solid;
    border-width: 1px;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 550;
}

button {
    background-color: #dd0042fd;
}

button:hover {
    background-color: rgb(252, 61, 89);
}