html {
    font-family: 'Times New Roman', Times, serif;
}

body {
    height: 100%;
    width: 100%;
    color: white;
  background-color:#970101;
   
  background-image: repeating-linear-gradient(transparent, transparent 50px, black 50px, black 53px, transparent 53px, transparent 63px, black 63px, black 66px, transparent 66px, transparent 116px, rgba(0,0,0,.5) 116px, rgba(0,0,0,.5) 166px, rgba(255,255,255,.2) 166px, rgba(255,255,255,.2) 169px, rgba(0,0,0,.5) 169px, rgba(0,0,0,.5) 179px, rgba(255,255,255,.2) 179px, rgba(255,255,255,.2) 182px, rgba(0,0,0,.5) 182px, rgba(0,0,0,.5) 232px, transparent 232px),  
    repeating-linear-gradient(270deg, transparent, transparent 50px, white 50px, white 53px, transparent 53px, transparent 63px, white 63px, white 66px, transparent 66px, transparent 116px, rgba(0,0,0,.5) 116px, rgba(0,0,0,.5) 166px, rgba(255,255,255,.2) 166px, rgba(255,255,255,.2) 169px, rgba(0,0,0,.5) 169px, rgba(0,0,0,.5) 179px, rgba(255,255,255,.2) 179px, rgba(255,255,255,.2) 182px, rgba(0,0,0,.5) 182px, rgba(0,0,0,.5) 232px, transparent 232px);
  
  }
  

h1 {
    text-align: center;
    color: rgb(216, 216, 216);
    -webkit-text-stroke: 1px black;
    font-size: 48px;
}

.button-group {
    margin: auto;
  width: auto;
  padding: 10px;
  padding-top: 0px;
  margin-top: -5px;
  text-align: center;
}

button {
    border: black;
    border-style: solid;
    border-width: 1px;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 550;
}

button {
    background-color: red;
}

button:hover {
    background-color: lightpink;
}