@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #341e67;
    overflow: hidden;
}

.background span {
    width: 19vmin;
    height: 19vmin;
    border-radius: 19vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 26;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.background span:nth-child(0) {
    color: #7d69dd;
    top: 5%;
    left: 68%;
    animation-duration: 10s;
    animation-delay: -61s;
    transform-origin: -3vw 11vh;
    box-shadow: 38vmin 0 5.635231045554448vmin currentColor;
}
.background span:nth-child(1) {
    color: #7d69dd;
    top: 18%;
    left: 18%;
    animation-duration: 158s;
    animation-delay: -4s;
    transform-origin: -6vw -21vh;
    box-shadow: 38vmin 0 4.97743540376541vmin currentColor;
}
.background span:nth-child(2) {
    color: #254183;
    top: 77%;
    left: 20%;
    animation-duration: 195s;
    animation-delay: -29s;
    transform-origin: 3vw 12vh;
    box-shadow: -38vmin 0 5.346781810571245vmin currentColor;
}
.background span:nth-child(3) {
    color: #254183;
    top: 51%;
    left: 91%;
    animation-duration: 217s;
    animation-delay: -50s;
    transform-origin: -22vw 20vh;
    box-shadow: -38vmin 0 4.751212469400363vmin currentColor;
}
.background span:nth-child(4) {
    color: #3c7386;
    top: 61%;
    left: 29%;
    animation-duration: 89s;
    animation-delay: -127s;
    transform-origin: -23vw -9vh;
    box-shadow: 38vmin 0 5.307130907829487vmin currentColor;
}
.background span:nth-child(5) {
    color: #7d69dd;
    top: 87%;
    left: 97%;
    animation-duration: 12s;
    animation-delay: -87s;
    transform-origin: -22vw -14vh;
    box-shadow: 38vmin 0 5.625019883746667vmin currentColor;
}
.background span:nth-child(6) {
    color: #7d69dd;
    top: 51%;
    left: 35%;
    animation-duration: 180s;
    animation-delay: -236s;
    transform-origin: -24vw -16vh;
    box-shadow: 38vmin 0 4.83350064985558vmin currentColor;
}
.background span:nth-child(7) {
    color: #254183;
    top: 69%;
    left: 20%;
    animation-duration: 189s;
    animation-delay: -197s;
    transform-origin: 8vw 3vh;
    box-shadow: -38vmin 0 4.823519258990378vmin currentColor;
}
.background span:nth-child(8) {
    color: #7d69dd;
    top: 1%;
    left: 55%;
    animation-duration: 18s;
    animation-delay: -205s;
    transform-origin: -21vw -24vh;
    box-shadow: -38vmin 0 5.111658130433116vmin currentColor;
}
.background span:nth-child(9) {
    color: #3c7386;
    top: 42%;
    left: 43%;
    animation-duration: 61s;
    animation-delay: -33s;
    transform-origin: 5vw -4vh;
    box-shadow: -38vmin 0 5.104881008299911vmin currentColor;
}
.background span:nth-child(10) {
    color: #3c7386;
    top: 2%;
    left: 83%;
    animation-duration: 189s;
    animation-delay: -163s;
    transform-origin: -19vw -8vh;
    box-shadow: 38vmin 0 5.581291031776195vmin currentColor;
}
.background span:nth-child(11) {
    color: #3c7386;
    top: 23%;
    left: 55%;
    animation-duration: 65s;
    animation-delay: -97s;
    transform-origin: -6vw 16vh;
    box-shadow: 38vmin 0 4.803910343819712vmin currentColor;
}
.background span:nth-child(12) {
    color: #7d69dd;
    top: 11%;
    left: 78%;
    animation-duration: 108s;
    animation-delay: -4s;
    transform-origin: 25vw 17vh;
    box-shadow: 38vmin 0 5.4402690507535vmin currentColor;
}
.background span:nth-child(13) {
    color: #3c7386;
    top: 64%;
    left: 72%;
    animation-duration: 200s;
    animation-delay: -145s;
    transform-origin: 7vw -12vh;
    box-shadow: -38vmin 0 5.135610668635931vmin currentColor;
}
.background span:nth-child(14) {
    color: #7d69dd;
    top: 20%;
    left: 82%;
    animation-duration: 11s;
    animation-delay: -131s;
    transform-origin: -13vw 17vh;
    box-shadow: 38vmin 0 5.441587731200488vmin currentColor;
}
.background span:nth-child(15) {
    color: #7d69dd;
    top: 34%;
    left: 11%;
    animation-duration: 218s;
    animation-delay: -100s;
    transform-origin: -16vw -22vh;
    box-shadow: 38vmin 0 5.047348788220015vmin currentColor;
}
.background span:nth-child(16) {
    color: #254183;
    top: 46%;
    left: 91%;
    animation-duration: 238s;
    animation-delay: -61s;
    transform-origin: -6vw -21vh;
    box-shadow: -38vmin 0 5.659281221044994vmin currentColor;
}
.background span:nth-child(17) {
    color: #3c7386;
    top: 40%;
    left: 65%;
    animation-duration: 62s;
    animation-delay: -201s;
    transform-origin: 23vw -19vh;
    box-shadow: 38vmin 0 5.472811260228188vmin currentColor;
}
.background span:nth-child(18) {
    color: #254183;
    top: 32%;
    left: 16%;
    animation-duration: 93s;
    animation-delay: -142s;
    transform-origin: 3vw 16vh;
    box-shadow: -38vmin 0 5.629139987658485vmin currentColor;
}
.background span:nth-child(19) {
    color: #254183;
    top: 21%;
    left: 63%;
    animation-duration: 192s;
    animation-delay: -230s;
    transform-origin: 0vw 5vh;
    box-shadow: -38vmin 0 4.853059287522946vmin currentColor;
}
.background span:nth-child(20) {
    color: #3c7386;
    top: 57%;
    left: 75%;
    animation-duration: 239s;
    animation-delay: -164s;
    transform-origin: -14vw -19vh;
    box-shadow: -38vmin 0 4.8506930114011695vmin currentColor;
}
.background span:nth-child(21) {
    color: #3c7386;
    top: 75%;
    left: 76%;
    animation-duration: 165s;
    animation-delay: -172s;
    transform-origin: 9vw -12vh;
    box-shadow: 38vmin 0 5.206706390009349vmin currentColor;
}
.background span:nth-child(22) {
    color: #3c7386;
    top: 31%;
    left: 73%;
    animation-duration: 126s;
    animation-delay: -225s;
    transform-origin: 1vw 21vh;
    box-shadow: 38vmin 0 5.410245866483131vmin currentColor;
}
.background span:nth-child(23) {
    color: #254183;
    top: 69%;
    left: 55%;
    animation-duration: 114s;
    animation-delay: -17s;
    transform-origin: -3vw -17vh;
    box-shadow: -38vmin 0 5.376829142307016vmin currentColor;
}
.background span:nth-child(24) {
    color: #3c7386;
    top: 4%;
    left: 86%;
    animation-duration: 138s;
    animation-delay: -223s;
    transform-origin: -14vw 18vh;
    box-shadow: 38vmin 0 5.474482456820824vmin currentColor;
}
.background span:nth-child(25) {
    color: #3c7386;
    top: 7%;
    left: 19%;
    animation-duration: 209s;
    animation-delay: -95s;
    transform-origin: 12vw 7vh;
    box-shadow: -38vmin 0 5.124331981861781vmin currentColor;
}
.background span:nth-child(26) {
    color: #3c7386;
    top: 68%;
    left: 22%;
    animation-duration: 113s;
    animation-delay: -208s;
    transform-origin: -18vw -9vh;
    box-shadow: 38vmin 0 5.182580113647628vmin currentColor;
}
.background span:nth-child(27) {
    color: #3c7386;
    top: 53%;
    left: 10%;
    animation-duration: 39s;
    animation-delay: -142s;
    transform-origin: -21vw -7vh;
    box-shadow: -38vmin 0 4.800067695794304vmin currentColor;
}
.background span:nth-child(28) {
    color: #3c7386;
    top: 56%;
    left: 36%;
    animation-duration: 93s;
    animation-delay: -49s;
    transform-origin: -21vw 16vh;
    box-shadow: 38vmin 0 5.492877647319991vmin currentColor;
}
.background span:nth-child(29) {
    color: #254183;
    top: 77%;
    left: 87%;
    animation-duration: 134s;
    animation-delay: -206s;
    transform-origin: 6vw 9vh;
    box-shadow: 38vmin 0 5.492355410101626vmin currentColor;
}
.background span:nth-child(30) {
    color: #3c7386;
    top: 87%;
    left: 6%;
    animation-duration: 162s;
    animation-delay: -213s;
    transform-origin: 12vw -12vh;
    box-shadow: -38vmin 0 5.311911110285186vmin currentColor;
}
.background span:nth-child(31) {
    color: #7d69dd;
    top: 85%;
    left: 16%;
    animation-duration: 127s;
    animation-delay: -15s;
    transform-origin: -11vw 15vh;
    box-shadow: -38vmin 0 4.845604607892197vmin currentColor;
}
.background span:nth-child(32) {
    color: #7d69dd;
    top: 65%;
    left: 64%;
    animation-duration: 163s;
    animation-delay: -61s;
    transform-origin: 0vw 6vh;
    box-shadow: 38vmin 0 4.982894163605693vmin currentColor;
}
.background span:nth-child(33) {
    color: #3c7386;
    top: 76%;
    left: 21%;
    animation-duration: 242s;
    animation-delay: -239s;
    transform-origin: 17vw 20vh;
    box-shadow: -38vmin 0 4.967186691484397vmin currentColor;
}
.background span:nth-child(34) {
    color: #3c7386;
    top: 63%;
    left: 89%;
    animation-duration: 169s;
    animation-delay: -126s;
    transform-origin: 4vw -1vh;
    box-shadow: 38vmin 0 5.647008419915078vmin currentColor;
}
.background span:nth-child(35) {
    color: #3c7386;
    top: 21%;
    left: 34%;
    animation-duration: 81s;
    animation-delay: -232s;
    transform-origin: 3vw 5vh;
    box-shadow: -38vmin 0 4.779141672751386vmin currentColor;
}
.background span:nth-child(36) {
    color: #7d69dd;
    top: 34%;
    left: 91%;
    animation-duration: 195s;
    animation-delay: -88s;
    transform-origin: -19vw 17vh;
    box-shadow: 38vmin 0 5.410467073368297vmin currentColor;
}
.background span:nth-child(37) {
    color: #3c7386;
    top: 67%;
    left: 24%;
    animation-duration: 158s;
    animation-delay: -179s;
    transform-origin: -13vw -24vh;
    box-shadow: -38vmin 0 5.417836138631818vmin currentColor;
}
.background span:nth-child(38) {
    color: #3c7386;
    top: 9%;
    left: 38%;
    animation-duration: 173s;
    animation-delay: -72s;
    transform-origin: 4vw 15vh;
    box-shadow: 38vmin 0 5.0833559040257805vmin currentColor;
}
.background span:nth-child(39) {
    color: #3c7386;
    top: 100%;
    left: 35%;
    animation-duration: 171s;
    animation-delay: -85s;
    transform-origin: 19vw -7vh;
    box-shadow: -38vmin 0 4.789405412903109vmin currentColor;
}
.background span:nth-child(40) {
    color: #3c7386;
    top: 52%;
    left: 5%;
    animation-duration: 11s;
    animation-delay: -94s;
    transform-origin: 6vw 19vh;
    box-shadow: -38vmin 0 5.300272698387833vmin currentColor;
}
.background span:nth-child(41) {
    color: #7d69dd;
    top: 52%;
    left: 9%;
    animation-duration: 94s;
    animation-delay: -160s;
    transform-origin: 22vw 20vh;
    box-shadow: 38vmin 0 5.397002182257008vmin currentColor;
}
