html{
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    background: #F1F1F1;
    height: 100vh;
}

body {
    height: inherit;
    overflow-x: hidden;
}
  
  .triangle {
      width: 0; 
      height: 0; 
      border-left: 350px solid transparent;
      border-right: 350px solid transparent;
      border-bottom: 606.2px solid #7CC7FF;
      z-index: -2;
  }
  
  .inner-triangle {
    position: absolute;
    left: -325px;
    top: 30px;
      width: 0; 
      height: 0; 
      border-left: 325px solid transparent;
      border-right: 325px solid transparent;
      border-bottom: 562.9px solid #F1F1F1;
      z-index: -2;
  }
  
  .triangle {
    animation: clockwise-rotation 40s linear infinite;
  }
  
  .triangle-container {
    height: 1200px;
    width: 1200px;
    position: absolute;
    top: -10vh;
    left: 60vw;
    animation: clockwise-rotation 40s linear infinite; 
    z-index: -2;
  }
  
  @keyframes clockwise-rotation {
    0%   { transform: rotate(0deg) }
    100% { transform: rotate(360deg); }
  }
  
  @keyframes counterclockwise-rotation {
    0%   { transform: rotate(0deg) }
    100% { transform: rotate(-360deg); }
  }
  
  .square {
    width: 550px;
    height: 550px;
    border: 15px solid #FDD600;
    animation: counterclockwise-rotation 15s linear infinite;
    z-index: -2;
  }
  
  .square-container{
  /*   background: #ff00ff; */
    height: 120px;
    width: 120px;
    position: absolute;
    top: 10%;
    left: 20vw;
    animation: counterclockwise-rotation 15s linear infinite; 
    z-index: -2;
  }
  
  @keyframes circle-self-rotation {
    0%   { transform: rotate(0deg) }
    100% { transform: rotate(-360deg); }
  }
  
  .circle {
    width: 650px;
    height: 650px;
    border: 15px solid #6EEDD8;
    border-radius:100%;
  }
  
  .circle-container{
    height: 900px;
    width: 900px;
    position: absolute;
    top: 40vh;
    left: 0vw;
    animation: clockwise-rotation 10s linear infinite; 
    z-index: -2;
  }


  .triangle2 {
      width: 0; 
      height: 0; 
      border-left: 350px solid transparent;
      border-right: 350px solid transparent;
      border-bottom: 606.2px solid #ff9853;
      z-index: -2;
  }
  
  .inner-triangle2 {
    position: relative;
    left: -325px;
    top: 30px;
      width: 0; 
      height: 0; 
      border-left: 325px solid transparent;
      border-right: 325px solid transparent;
      border-bottom: 562.9px solid #F1F1F1;
      z-index: -2;
  }
  
  .triangle2 {
    animation: clockwise-rotation 20s linear infinite;
  }
  
  .triangle-container2 {
    height: 1200px;
    width: 1200px;
      position: absolute;
    top: 100vh;
    left: 30vw;
    animation: clockwise-rotation 30s linear infinite; 
    z-index: -2;
  }
  
  @keyframes clockwise-rotation {
    0%   { transform: rotate(0deg) }
    100% { transform: rotate(360deg); }
  }
  
  @keyframes counterclockwise-rotation {
    0%   { transform: rotate(0deg) }
    100% { transform: rotate(-360deg); }
  }
  
  .square2 {
    width: 550px;
    height: 550px;
    border: 15px solid #9436ff;
    animation: counterclockwise-rotation 25s linear infinite;
    z-index: -2;
  }
  
  .square-container2 {
  height: 1200px;
  width: 1200px;
  position: absolute;
  top: 125%;
  left: 20%;
  animation: counterclockwise-rotation 35s linear infinite; 
  z-index: -2;
}

@keyframes circle-self-rotation {
  0%   { transform: rotate(0deg) }
  100% { transform: rotate(-360deg); }
}

.circle2 {
  width: 650px;
  height: 650px;
  border: 15px solid hotpink;
  border-radius:100%;
}

.circle-container2 {
  height: 900px;
  width: 900px;
  position: absolute;
  top: 50vh;
  left: 40vw;
  animation: clockwise-rotation 35s linear infinite; 
  z-index: -2;
}

@keyframes counterclockwise-rotation {
    0%   { transform: rotate(0deg) }
    100% { transform: rotate(-360deg); }
  }
  
  .square3 {
    width: 450px;
    height: 450px;
    border: 15px solid #6cf55f;
    animation: counterclockwise-rotation 15s linear infinite;
    z-index: -2;
  }
  
  .square-container3 {
  /*   background: #ff00ff; */
    height: 20px;
    width: 20px;
    position: absolute;
    top: 240%;
    left: 70vw;
    animation: counterclockwise-rotation 15s linear infinite; 
    z-index: -2;
  }

  .circle3 {
    width: 300px;
    height: 300px;
    border: 15px solid rgb(56, 59, 6);
    border-radius:100%;
  }
  
  .circle-container3 {
    height: 500px;
    width: 500px;
    position: absolute;
    top: 225vh;
    left: 0vw;
    animation: clockwise-rotation 5s linear infinite; 
    z-index: -2;
  }


h1 {
    text-align: center;
    margin-right: 0px;
}

h2{
    text-align: center;
    font-style: italic;
    margin-top: -30px;
    padding-top: 25px;
}


h1, h2, h5 {
    color: black;
    text-align: center;
}

h4 {
    text-decoration: underline;
}

h5 {
    text-align: center;
    margin-top: -30px;
    padding-top: 25px;
    font-weight: normal; 
}

p {
    font-size: 20px;
}

div.tooltip {
    padding-right: 50px;
    padding-left: 50px;
}

.tooltip {
    position: relative;
    display: inline-block;
}
  
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    top: 100%;
    left: 50%;
    margin-left: -60px;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    bottom: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}


/* unvisited link */
a:link {
    color: black;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: black;
}

/* mouse over link */
a.homepage:hover {
    color: black;
}

/* selected link */
a.homepage:active {
    color: seashell;
}

/* mouse over link */
.novellink:hover {
    color: rgb(0, 137, 216);
    font-weight: bolder;
    font-variant: small-caps;
}

/* selected link */
.novellink:active {
    color: rgb(107, 176, 255);

}

img {
    height: 400px;
    width: 275px;
}

  /* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 48%;
    padding-bottom: 25px;
    margin: 5px;
    text-align: center;

}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 775px) {
    .column {
      width: 98%;
    }
}

