html{
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-image: url(bookshelves.jpg)
}

h1 {
    text-align: center;
    margin-right: 0px;
}

h2{
    text-align: center;
    font-style: italic;
    margin-top: -30px;
    padding-top: 25px;
}

h3 {
    text-align: center;
    text-decoration: overline underline;
    color: rgb(0, 163, 0); 
}

h1, h2, h5 {
    color: oldlace;
}

h4 {
    text-decoration: underline;
}

h5 {
    text-align: center;
    margin-top: -30px;
    padding-top: 25px;
    font-weight: normal; 
}

div.tooltip {
    padding-right: 50px;
    padding-left: 50px;
}

.tooltip {
    position: relative;
    display: inline-block;
}
  
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    top: 100%;
    left: 50%;
    margin-left: -60px;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    bottom: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}


/* unvisited link */
a:link {
    color: oldlace;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: oldlace;
}

/* mouse over link */
a.homepage:hover {
    color: oldlace;
}

/* selected link */
a.homepage:active {
    color: seashell;
}

/* mouse over link */
.novellink:hover {
    color: seagreen;
    font-weight: bold;
    font-style: italic;
}

/* selected link */
.novellink:active {
    color: seagreen;

}

#Necklace {
    height: 275px;
    width: 250px;
}

#AABC {
    width: 225px;
}

#CopperSun {
    width: 250px;
}

#ThePoetX {
    width: 225px;
}

  /* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 48%;
    padding-bottom: 25px;
    margin: 5px;
    text-align: center;

}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 775px) {
    .column {
      width: 98%;
    }
}